.profileinfo_wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right:auto ;
}
.main_wrapper {
  display:flex;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  visibility: hidden;
}
.hidden.not {
  visibility: visible;
}

    .icon_back{
      display: flex;
      position: relative;
      width: 50%;
      margin: 0px;
      flex-grow: 2;
      flex-wrap: wrap;
      padding-bottom: 30px;
      justify-content: center;
      align-items: center;
      transition-duration: 0.3s;
      margin-right: 20px;
    }
    .icon_back > img {
      width: 200px;
      height: 200px;
      position: relative;

    }
    .descr {
      flex-direction: column;
      display: flex;
         width: 82%;
         height: 100%;
         margin: 1px;
        
    }
    .h1 {
      width: 100%;
      height: 20px;
     
    }
    .info {
      width: 100%;
     
    }
    .p {
      margin: 15px 0px 0px 3px;
      word-break: break-word;
    }
  
  
   
    .custom_upload_file {
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      transition-duration: 0.3s;
      margin: 0 auto;
      width: 90%;
      height: 50px;
      border-radius: 5px 5px 5px 5px;
    }
    .custom_upload_file {
      display: flex;
      justify-content: space-around;
    }
    .custom_upload_file {
      border:3px solid #208ea7b4;
    }
    .custom_upload_file div {
      color: black;
      margin: 0;
      padding: 0;
      transition-duration: 0.1s;
    }
    input[type="file"] {
      display: none;
  }
  .custom_upload_file .icon {
    color: black;
    transition-duration: 0.3s;
  }
  .custom_upload_file:hover{
    background-color: #208ea7b4;
  }
  .custom_upload_file:hover .icon {
    color: white;
  }
  
  @media (max-width: 1800px) {
    .custom_upload_file {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 1400px) {
    .profileinfo {
      width: 100%;
      justify-content: center;
    }
  }
  @media (max-width: 900px) {
    .icon_back > img {
      width: 120px;
      height: 120px;
    }
    .icon_back {
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
    }
    .custom_upload_file .text {
      margin-top: 5px;
      text-align: center;
      font-size: 18px;
    }
    .custom_upload_file .icon {
      font-size: 20px;
    }
    .custom_upload_file {
      height: 80px;
    }
  }
  @media (max-width: 760px) {
    .profileinfo_wrapper {
      justify-content: space-between;
    }
  }
  @media (max-width:550) {
    .custom_upload_file .text {
    text-align: center;
   font-size: 15px;
    width: 100%;
    }
  }
  @media (max-width: 500px) {
    .descr {
      text-align: center;
    }
    .custom_upload_file {
      text-align: center;
    }
  }